body{
    font-family: sans-serif;
    margin:0;
    padding:5;
    background-color:pink;
}
header{
    background-color:beige;
    color:white;
    padding:20px;
    display:flex;
    justify-content: space-around, space-between;
    align-items:center;
}
header ol{
    gap:none;
    display:flex;
}
header li{
    cursor:pointer;
}
main{
    padding:15px;
}
.product{
    background-color:cornsilk;
    padding:15px;
    margin:10px 2px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.product h3{
    margin: 0 0 10px 0;
}
button{
    padding: 8px 12px;
    background-color: limegreen;
    color:bisque;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    
}